@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Kalam');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script'); 

#encabezado { 
width: 100%;
background-color: #5b7989;
font-family: 'Dancing Script', cursive;
font-size: 20px;
color: white;
text-shadow: 2px 2px #02010a;
padding-top: 10px; 
padding-bottom: 10px; 	
}



#pie{
    display: flex;
	background-color: #C6d5c5;
    background-color:  #C6d5c5;
	border-bottom-left-radius: 10px; 
	border-bottom-right-radius: 10px; 
}

#pie div{
 	float: left;
    width: 25%;
    height: 100%;
	background-color:  #C6d5c5;
	font-family: 'Dancing Script', cursive;
	font-size: 20px;
		
}


#padre{
	width: 100%; 
	background-color: #d5c75f; 
	display: inline-flex;
	
	
}


#enlaces{ 
	width: 100%;
background-color: #d5c75f;
}

#enlaces div {
	width: 50%;
	height:auto;	
	float:left;	
	background-color: #d5c75f;
	padding-bottom: 10px;
	font-family: 'Dancing Script', cursive;
font-size: 20px; 
	



/* Responsive Images in Columns */
#padre img {
	padding: 15px;	

	
	
 
  
}

.five-columns { 

display: inline-block;
}






.container {
	/* Por defecto en modo fila, uno al lado del otro */
	display: flex;
	width: 100%;
	flex-direction: row;	
	font-family: 'Dancing Script', cursive;
	font-size: 15px;
}





.sec1 { 
		background-color: #82c3a6; 
		padding-top: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		padding-left: 20px;	
		box-shadow: 2px 2px 5px #02010a; 
		width:100%;	

} 

 
} 



html{ 
background-color: black;
}


header { 
	background-color: #5b7989; 
	width: 100%;
	border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 	
} 




.sombra {
display:inline-flex;
position:relative;
top: -2px; /* Desfasamos la imagen hacia arriba */
left:-2px; /*Desfasamos la imagen hacia la izquierda */
padding:2px;
background:#02010a; /*Definimos un color de fondo */
border:1px solid;

}


#pie {
	background-color: #C6d5c5; 
	border-bottom-left-radius: 10px; 
	border-bottom-right-radius: 10px; 
	font-family: 'Dancing Script', cursive;
	font-size: 10px;
	color: black;
	display:inline-flex;
	width: 100%;
    padding:10px;
	width: 100%; 
 
	}

.img88 {
  	
	-webkit-transition: -webkit-transform .8s ease-in-out;
          transition: transform .8s ease-in-out;
	padding: 5px;
		 


}
.img88:hover {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.img89 {
transition: transform 0.5s linear;
		padding: 5px;
		 
	
	
}

.img89:hover { 
  transform: translateX(-20px);
  transform: translateY(-5px);
  
}



html {
    animation-duration: 3s;
    animation-name: slidein;
}
 
@keyframes slidein {
    from {
        margin-top: 150%;
        
    }
 
    to {
        margin-top: -5%;
        margin-top: -0%;
    }
	 -webkit-animation: slide 0.1s forwards;
    
}


/* Blur */
.hover07{
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover07:hover{
	-webkit-filter: blur(10px);
	filter: blur(0);
}


/* Gray Scale */
.hover08{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover08:hover{
	-webkit-filter: grayscale(100%);
	filter: grayscale(0);
}

/* Sepia */
.hover09{
	-webkit-filter: sepia(100%);
	filter: sepia(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover09:hover{
	-webkit-filter: sepia(90%);
	filter: sepia(90%);
}




.ancho { 
width: 300px;
height:300px;
float:right; 
}


  
#content {
  width: 200px;
  height: 200px;
  border: 1px solid #c3c3c3;
  display: -webkit-flex;
  -webkit-flex-direction: column-reverse;
  display: flex;
  flex-direction: column-reverse;
}

.box {
  width: 50px;
  height: 50px;
}

#content1 {
  width: 200px;
  height: 200px;
  border: 1px solid #c3c3c3;
  display: -webkit-flex;
  -webkit-flex-direction: row-reverse;
  display: flex;
  flex-direction: row-reverse;
}

.flex-container {
   display: flex;
    flex-direction: row;
    background-color: #5b7989;
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	color: white;
	text-shadow: 2px 2px #02010a;
	width: 100%; 
}

 div {
	width: auto;
	text-align: center;
}




@media screen and (max-width: 1000px) {

	
}
@media screen and (max-width: 400px) {
#pie div{
 	float: left;
    width: 100%;
	font-size: 10px;
    height: 100%;
	background-color:  #C6d5c5;
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
		
}

	
	
	
	
	
	#pie { 
		flex-direction: column;
		font-size: 15px;
	}
	
	#footer { 
		flex-direction: column; 
	 	text-align: center; 		
	}
	
	#section { 
		flex-direction: column; 
	 	text-align: center; 
	
	}
.two-columns {
	display: table-column;

	}


}  
	
	@media screen and (max-width: 600px) {
       table {
           width:100%;
       }
       thead {
           display: none;
       }
       tr:nth-of-type(2n) {
           background-color: inherit;
       }
       tr td:first-child {
           background: #f0f0f0;
           font-weight:bold;
           font-size:1.3em;
       }
       tbody td {
           display: block;
           text-align:center;
       }
       tbody td:before {
           content: attr(data-th);
           display: block;
           text-align:center;
       }
}

